.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Slow down the collapse transition using max-height */
.collapse {
  transition: max-height 0.8s ease; /* Adjust the speed of collapse */
  max-height: 0; /* Default to collapsed */
}

.collapse.show {
  max-height: 500px; /* Max height when expanded, can adjust based on content */
}

/* Rotate the icon smoothly */
.collapse.show + .nav-item i {
  transform: rotate(180deg);
  transition: transform 0.8s ease; /* Smoothly rotate the icon */
}

.carousel-item img {
  height: 500px;  /* Adjust as needed */
  object-fit: cover;
}

