body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Slow down the collapse transition using max-height */
.collapse {
  transition: max-height 0.8s ease; /* Adjust the speed of collapse */
  max-height: 0; /* Default to collapsed */
}

.collapse.show {
  max-height: 500px; /* Max height when expanded, can adjust based on content */
}

/* Rotate the icon smoothly */
.collapse.show + .nav-item i {
  transform: rotate(180deg);
  transition: transform 0.8s ease; /* Smoothly rotate the icon */
}


